<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">Filmoteka</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            {% url 'index' as index_url %}
            <a href="{{ index_url }}" class="nav-link {% if request.path == index_url %}active{% endif %}">
                <i class="bi bi-house"></i> Strona główna
            </a>
          </li>
          <li class="nav-item">
            {% url 'list_movies' as movies_url %}
            <a href="{{ movies_url }}" class="nav-link {% if request.path == movies_url %}active{% endif %}">
                <i class="bi bi-film"></i> Filmy
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">
                <i class="bi bi-person-video3"></i> Reżyserzy
            </a>
          </li>
        </ul>
        
        {% if request.user.is_authenticated %}
            <i class="bi bi-person-circle pe-1"></i>
            <span class="pe-1">Zalogowano jako: {{ request.user.username }}</span>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary">
                    <i class="bi bi-box-arrow-right"></i> Wyloguj się
                </button>
            </form>
        {% else %}
            <a href="{% url 'user_signup' %}" class="btn btn-outline-primary me-1">Zarejestruj się</a>
            <a href="{% url 'login' %}" class="btn btn-outline-primary">Zaloguj się</a>
        {% endif %}
      </div>
    </div>
  </nav>